
.type-blormpost {
    border: 1px solid black;
}

.blorm-post-content-container {
    margin: 0 !important;
    padding: 0 !important;
}

.post .blorm-icon{
    height: 1em;
    line-height: 1em;
}

.post .blorm-icon img{
    height: 0.75em;
    width: auto;
    padding-right: 0.5rem;
}

.blorm-post-content-container  .blormWidgetImageWrapper {
    position: relative;
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon {
    position: absolute;
    width: 50%;
    height: 50%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon.topleft {
    top:0;
    left:0;
    background-image: url("../images/blorm_icon_bubble_left_top.png");
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon.topright {
    top:0;
    right:0;
    background-image: url("../images/blorm_icon_bubble_right_top.png");
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon.bottomleft {
    bottom:0;
    left:0;
    background-image: url("../images/blorm_icon_bubble_left_bottom.png");
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon.bottomright {
    bottom:0;
    right:0;
    background-image: url("../images/blorm_icon_bubble_right_bottom.png");
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerBlormIcon img {
    position: absolute;
    width: 20%;
    height: auto;
    top: 5%;
    left: 5%;
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerWidget {
    position: absolute;
    bottom:0;
    right:0;
    padding: 0;
    width: 50%;
    height: 50%;
    background-image: url("../images/blorm_icon_bubble_right_bottom.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blorm-post-content-container .blormWidgetImageWrapper .blormWidgetImagelayerWidget .blormWidget {
    position: absolute;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    bottom: 5%;
    right: 5%;
}

.blormWidget {
    position: relative;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

.blormWidget div {
    /* border:1px solid green;*/
}

.blormWidget .FloatRight {
    float:right;
}

.blormWidget .AlignRight {
    text-align:right;
}

.blormWidget .PositionRight {
    right:0;
}

.blormWidget .FloatLeft {
    float:left;
}

.blormWidget .AlignLeft {
    text-align:left;
}

.blormWidget .PositionLeft {
    left:0;
}

.blormWidget .BorderBottom {
    border-bottom: 1px solid black;
}

.blormWidget .blormWidgetContainerMenu {
    right: 0;
    padding: 0;
    margin: 5px 0 0 0;
    position: relative;
    width:200px;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus {
    display: block;
    height: 27px;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo,
.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial {
    height: 25px;
    margin: 0;
}

.blormWidget .FloatRight .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo,
.blormWidget .FloatRight .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial {
    float: right;
    padding: 0 2px 0 0;
}

.blormWidget .FloatLeft .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo,
.blormWidget .FloatLeft .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial {
    float: left;
    padding: 0 0 0 6px;
}


.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo ul,
.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial ul {
    list-style: none;
    margin:0;
    padding:0;
    height:20px;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo ul li,
.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial ul li {
    display: inline-block;
    list-style: none;
    height:20px;
    margin:0;
    padding:0;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo ul li img,
.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial ul li.blormWidgetPlusSocialBarIcon img {
    padding-right: 1px;
    padding-bottom: 1px;
    height: 21px;
    width: auto;
    cursor: pointer;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial ul li.blormWidgetPlusSocialBarText{
    vertical-align: super;
    padding-right: 5px;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusLogoIcon {
    height: 25px;
    /*float: right;*/
    padding: 1px 0 0 0;
    margin: 0;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo {
    margin: 1px 7px 0 2px;
}


.blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusLogoIcon img {
    height: 18px;
    margin-top: 2px;
    width: auto;
    line-height: 25px;
    cursor: pointer;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width:300px;
    height:0px;
    /*border:1px solid red;*/
    top: 0px;
    z-index:1000;
    cursor: pointer;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent {
    position: relative;
    color:#fff;
    width:100%;
    padding:2px;
    margin:0px;
    float: left;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent a {
    color:#fff;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent.DisplayTransition {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 100%;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;

}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent ul li {
    padding: 2px 4px 2px 2px;
    margin: 0;
    float: left;
    font-size: 0.6rem;
    line-height: 0.6rem;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerbar .blormWidgetPowerbarContent .PowerbarContentText {
    padding: 2px;
    margin: 0px;
    float: left;
    font-size: 0.6rem;
    line-height: 0.6rem;
}

.blormWidget .blormWidgetContainerMenu .blormWidgetPowerText {
    font-size: 14px;
    color: #333;
    width: 100%;
    position: absolute;
    top: 25px;
}


@media only screen
and (max-device-width: 860px) {

    .blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusLogoIcon img {
        height: 22px;
        margin-top: 0px;
        width: auto;
        line-height: 25px;
        cursor: pointer;
    }

    .blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusBlormInfo img,
    .blormWidget .blormWidgetContainerMenu .blormWidgetPlus .blormWidgetPlusSocial ul li.blormWidgetPlusSocialBarIcon img {
        padding-right: 1px;
        padding-bottom: 1px;
        height: 23px;
        width: auto;
        cursor: pointer;
    }
}